<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Security Dashboard</h1>
        <p>مرکز نظارت بر رویدادهای امنیتی</p>
    </header>

    <main>
        <div class="grid-container">
			<a href="{{ url_for('latest_incidents') }}" class="card">
                <h2>📊 گزارش‌های امنیتی</h2>
                <p>Display data received from Splunk</p>
            </a>
            <a href="{{ url_for('view_iodef_documents') }}" class="card">
				<h2>📄IODEF گزارش‌های </h2>
				<p>View and review reports of XML</p>
			</a>

            <a href="{{ url_for('block_ip') }}" class="card">
                <h2>بلاک آی پی آدرس</h2>
                <p>Register and manage blocked addresses</p>
            </a>
            <a href="{{ url_for('send_to_bale') }}" class="card">
                <h2>📤 ارسال به بله</h2>
                <p>ارسال پیام به ربات بله</p>
            </a>
            
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - SOC Dashboard by Masoud Dindar</p>
    </footer>
</body>
</html>
