<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<p>حساب کاربری ندارید؟ <a href="{{ url_for('auth_bp.register') }}">ثبت‌نام کنید</a></p>

</head>
<body>
    <div class="form-container">
        <h1>ورود</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for msg in messages %}
                <li style="color: yellow;">{{ msg }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="/" method="POST">
            <label>نام کاربری:</label>
            <input type="text" name="username" required>

            <label>رمز عبور:</label>
            <input type="password" name="password" required>

            <button type="submit">ورود</button>
        </form>
    </div>
</body>
</html>
